node_modules

# Tests
coverage

# Ts generated output
dist-types
dist

# Yarn files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
.npmrc
**/*.tgz
.vscode
.idea

local.sqlite
tmp/*
