name: Release
on:
  push:
    branches: [main]
permissions:
  contents: write
  pull-requests: write
jobs:
  release:
    name: Create Changeset PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Use Node.js 18.x
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: 18.x
          cache: 'yarn'
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Build type declarations
        run: yarn tsc
      - name: Build packages
        run: yarn build
      - name: Enable non-immutable yarn installs
        run: yarn config set -H enableImmutableInstalls false
      - name: Authenticate yarn with NPM
        run: yarn config set -H 'npmAuthToken' "${{secrets.NPM_TOKEN}}"
      - name: Create Release Pull Request
        uses: changesets/action@3de3850952bec538fde60aac71731376e57b9b57 # v1
        with:
          version: yarn version
          publish: yarn workspaces foreach -v --no-private npm publish --access public --tolerate-republish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish git tags
        run: yarn changeset tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
